<% if @login %>
<%= form_tag(controller: "front", action: "logout", method: "post") do %>
<%= submit_tag("ログアウト") %>
<% end %>

<% if @account %>
<p>こんにちは</p>
<%= @account.mona_addr %>でログインしています。
<%= @account.amount %>μMona
入金用アドレス
<%= @account.deposit_mona_addr %>

<% end %>

<%= form_tag(controller: "dice", action: "roll", method: "post") do %>
<%= text_field_tag(:amount,0 , {type:'number',min:1,max:@account.amount,size:40}) %>
<%= submit_tag("High") %>

<%= submit_tag("Low") %>
<% end %>


<% else %>

<%= form_tag(controller: "front", action: "login", method: "post") do %>
<%= text_field_tag(:mona_addr) %>
<%= submit_tag("ログイン") %>
<% end %>


<% end %>
