<% if @win %>
勝ちました！
<%= @profit %>μMona獲得！
<% else %>
負けました。。。
<%= @profit %>μMona没収
<% end %>

所持Mona
<%= @user_ammount[:before] %>μMona
→
<%= @user_ammount[:after] %>μMona

<%= link_to "再挑戦！", :controller => "front", :action => "index" %>
